<!DOCTYPE html>
<html>
  <head>
    <title>TicTacToe</title>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static '../static/login-page.css' %}"
    />
  </head>
  <body>
    <h1>Tic Tac Toe</h1>

    <form action="createUser" method="post">
      {% csrf_token %}
      <label for="your_name">Your name: </label>
      <input
        id="your_name"
        type="text"
        name="your_name"
        value="{{ current_name }}"
      />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
